@use 'config/variaveis';
@use 'config/reset';
@use 'sass:math';

@mixin elementoForm($marginB: 16px) {
  padding: 8px;
  display: block;
  width: 100%;
  margin-bottom: $marginB;
}

@function pixelParaEm($alvoEmPixel, $contextoEmPixel: 16px) {
  @return math.div($alvoEmPixel, $contextoEmPixel)+em;
}

body {
  background-color: #eee;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

header {
  padding: 16px 0;
  background-color: variaveis.$corPrincipal;
  text-align: center;
  color: #fff;
}

.form-container {
  height: calc(100vh - 70px); // 70px = header height
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 760px;

  h2 {
    font-size: pixelParaEm(48px);
    text-align: center;
  }

  form {
    width: 100%;
    max-width: 400px;
    margin-top: 40px;

    label {
      font-weight: bold;
      cursor: pointer;
    }

    input {
      @include elementoForm();
      background-color: transparent;
      border: none;
      border-bottom: 3px solid variaveis.$corPrincipal;
    }

    button {
      @include elementoForm();
      background-color: variaveis.$corSecundaria;
      border: none;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      color: #fff;

      &:hover {
        background-color: lighten(variaveis.$corSecundaria, 15%);
      }
    }
  }

  @media screen and (max-width: variaveis.$mobile) {
    .container {
      max-width: 80%;
    }
  }
}